<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="card card-weather">

                <div class="card-body">
                    <div class="search">
                        <input type="text" [(ngModel)]="city" placeholder="Enter the city name...">
                        <button class="btn btn-warning" (click)="loadData()"><b>SEARCH</b></button>
                    </div>
                    <div class=" d-flex justify-content-between mt-5">
                        <div class="items d-flex justify-content-between align-items-center">
                            <div class="me-5"><i class="fa-solid fa-cloud" id="temp"> </i></div>
                            <div>
                                <p class="title"><b>{{ weather.name }}</b></p>
                                <p>Longitude : {{ weather.coord.lon }}</p>
                                <p>Latitude : {{ weather.coord.lat }}</p>
                                <p>{{ weather.main.temp }}°C</p>
                                <p>{{ weather["weather"][0].description }}</p>
                            </div>
                        </div>
                        <div class=" d-flex float-end">
                            <div class="d-flex justify-content-between ">
                                <p class="list me-3"><b>Temperature</b></p>
                                <p class="list me-3"><b>Humidity</b></p>
                                <p class="list me-3"><b>Wind</b></p>
                            </div>
                            <div class="weather-items" *ngIf="weather.main">
                                <p>Temperature : {{ weather.main.temp }}°C</p>
                                <p>humidity : {{ weather.main.humidity }}%</p>
                                <p>wind : {{ weather.wind.speed }} Km/h</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="d-flex weakly-weather">
                        <div class="weakly-weather-item" *ngFor="let data of dailyForecast ">
                            <p class="mb-0"> <b>{{data.day}}</b></p> <i [ngClass]="data.icon"></i>
                            <p class="mb-0"> <b>{{data.temp}}°C</b></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>